---
- name: restart nginx
  service:
    name: nginx
    state: restarted

- name: restart elasticsearch
  service:
    name: elasticsearch
    state: restarted

- name: restart kibana
  service:
    name: kibana
    state: restarted
