server {
  listen {{ https_port }};
  server_name {{ ansible_fqdn }};

  include /etc/nginx/conf.d/ssl.inc;

  proxy_buffering off;

  location / {
    root  {{ kibana_root }};
    index  index.html index.htm;
  }

  location ~ ^/_(aliases|nodes|search|mapping)$ {
    proxy_pass http://127.0.0.1:{{ es_http_listen_port }};
    proxy_read_timeout 90;
  }

  location ~ ^/.*/_(aliases|search|mapping)$ {
    proxy_pass http://127.0.0.1:{{ es_http_listen_port }};
    proxy_read_timeout 90;
  }

  location ~ ^/kibana-int/dashboard/.*$ {
    proxy_pass http://127.0.0.1:{{ es_http_listen_port }};
    proxy_read_timeout 90;
  }

  location ~ ^/kibana-int/temp.*$ {
    proxy_pass http://127.0.0.1:{{ es_http_listen_port }};
    proxy_read_timeout 90;
  }
}